<h1>Fill in your name and the names of the friends accompanying you on your camping adventure. Please also fill in the blanks to let our campground gather all the necessary info to best accommodate you.</h1>
<form action='/camping_confirmation'>
  <div class="form-group">
    <label for="camper1">Your name</label>
    <input id="camper1" name="camper1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="camper2">Your friend's name</label>
    <input id="camper2" name="camper2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="camper3">Your friend's name</label>
    <input id="camper3" name="camper3" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="campground">Campground name</label>
    <input id="campground" name="campground" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="equipment">Tent or RV?</label>
    <input id="equipment" name="equipment" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
