<h1>Favorite Mt Hood Lakes</h1>
<ul>
<li><img src='/img/trillium.jpg' alt='A photo of a Trillium Lake.'/></li>
<li><img src='/img/lost-lake.jpg' alt='A photo of the Lost Lake.'/></li>
<li><img src='/img/mirror.jpg' alt='A photo of a Mirror Lake.'/></li>
<li><img src='/img/frog-lake.jpg' alt='A photo of a Frog Lake.'/></li>
</ul>
