<h1>Hello Mt Hood!</h1>
<p>Dear Friend,</p>
<p>Some of the lakes we hike around are: Mirror Lake, <a href='/trillium'>Trillium Lake</a>, Lost Lake, & Frog Lake.</p>

<p>Cheers,</p>
<p>Mt Hood Enthusiasts jin & Steven</p>

<p><a href='/hood_lakes' >P.S. Check out photos of our favorite lakes here!</a></p>
