<h1>Hello Mt Hood!</h1>
<p>Dear <%= @recipient %>,</p>
<p>Some of the lakes we hike around are: Mirror Lake, <a href='/trillium'>Trillium Lake</a>, Lost Lake, & Frog Lake.</p>

<p>Cheers,</p>
<p><%= @sender %></p>


<p><a href='/hood_lakes' >Check out some pics of lakeside campgrounds around Mt. Hood</a></p>

<p><a href='/camping_form' >Make a reservation at one of Mt.Hood's beautiful campgrounds</a></p>

<p><a href='/greeting_form' >Send a postcard from your campground</a></p>
